@use "../abstracts/index" as *; 

.contact {
  margin-bottom: toRem(100);
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: toRem(60) toRem(150) toRem(80) toRem(100);
    border-radius: toRem(45);
    background-color: $colorGrey;
    column-gap: toRem(20);
  }
}

.contact-form {
  &__wrapper {
    max-width: toRem(556);
  }
  &__input:not(:last-child) {
    margin-bottom: toRem(20);
  }
  &__input {
    display: flex;
    flex-direction: column;
    input,
    textarea {
      width: toRem(556);
      padding: toRem(15);
      border: toRem(1) solid $colorBlack;
      border-radius: toRem(14);
    }
    textarea {
      resize: none;
    }
    label {
      margin-bottom: toRem(7);
    }
  }
  &__button {
    width: 100%;
    margin-top: toRem(50);
    padding: toRem(20) toRem(10);
    border: toRem(1) solid $colorBlack;
    border-radius: toRem(14);
    background-color: $colorBlack;
    color: $colorWhite;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  &__button:hover {
    background-color: $colorGreen;
    color: $colorBlack;
  }
}

@media (max-width: 1130px) {
  .contact-form__wrapper {
    max-width: toRem(356);
  }
  input,
  textarea {
    max-width: toRem(356);
  }
  .contact-form__image svg {
    max-width: toRem(350);
  }
}

@media (max-width: 880px) {
  .contact-form__image{
    display: none;
  }
  .contact__content {
    justify-content: center;
    column-gap: 0;
  }
}

@media (max-width: 516px) {
  .contact__content {
    padding: toRem(30);
  }
  .contact-form__wrapper {
    max-width: toRem(256);
  }
  input,
  textarea {
    max-width: toRem(256);
  }
  .contact-form__button {
    margin-top: 0;
  }
}