@use "../abstracts/index" as *;

.header {
  &__container {
    min-height: toRem(68);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__cta {
    font-size: toRem(20);
    border: 1px solid $colorBlack;
    padding: toRem(10) toRem(20);
    border-radius: toRem(14);
  }
}

.logo {
  display: flex;
  column-gap: toRem(10);
  &__text {
    font-size: toRem(36);
    font-weight: 500;
  }
}

.menu {
  &__icon {
    display: none;
  }
  &__list {
    display: flex;
    column-gap: toRem(40);
    justify-content: space-between;
    align-items: center;
    font-size: toRem(20);
  }
  
}