@use "../abstracts/index" as *;

.header {
  &__container {
    min-height: toRem(100);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__cta {
    font-size: toRem(20);
    border: 1px solid $colorBlack;
    padding: toRem(20) toRem(30);
    border-radius: toRem(14);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
}

.header-link {
  padding-inline: toRem(7);
}

.header-link:hover,
.header__cta:hover {
  color: $colorGreen;
  background-color: $colorBlack;
}