@use "../abstracts/index" as *;

.hero {
  padding-top: toRem(70);
  min-height: 100vh;
  &__body {
    display: flex;
    justify-content: space-between;
    gap: 20%;
  }
  &__title {
    font-size: clamp(toRem(10), 5vw, toRem(60));
    font-weight: 500;
    margin-bottom: toRem(30);
  }
  &__info {
    margin-bottom: toRem(30);
  }
  &__button {
    display: inline-block;
    background-color: $colorDark;
    color: $colorWhite;
    padding: toRem(20) toRem(30);
    border: toRem(1) solid $colorDark;
    border-radius: toRem(14);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  &__button:hover {
    background-color: $colorGreen;
    color: $colorBlack;
  }
  
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: toRem(110);
    row-gap: toRem(20);
    margin-top: toRem(70);
  }
}

@media (max-width: 1230px) {
  .hero__body {
    gap: 10%;
  }
  .hero__bottom {
    column-gap: toRem(50);
  }
  .hero__image svg {
    max-width: toRem(500);
  }
}

@media (max-width: 1165px) {
  .hero__title {
    font-size: toRem(50);
  }
  .hero__image svg {
    max-width: toRem(450);
  }
}

@media (max-width: 1000px) {
  .hero__title {
    font-size: toRem(40);
  }
  .hero__image svg {
    max-width: toRem(400);
  }
  .hero {
  padding-top: toRem(20);
  }
}

@media (max-width: 706px) {
  .hero__body {
    flex-direction: column;
    gap: toRem(20);
  }
}
  