@use "../abstracts/index" as *;

.hero {
  padding-top: toRem(70);
  min-height: 100vh;
  &__body {
    display: grid;
    grid-template-columns: minmax(toRem(330), toRem(530)) 1fr;
    column-gap: toRem(160);
  }
  &__title {
    font-size: toRem(60);
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: toRem(30);
  }
  &__info {
    line-height: 1.2;
    margin-bottom: toRem(30);
  }
  &__button {
    display: inline-block;
    background-color: $colorDark;
    color: $colorWhite;
    padding: toRem(20) toRem(30);
    border: toRem(1) solid $colorDark;
    border-radius: toRem(14);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  &__button:hover {
    background-color: $colorGreen;
    color: $colorBlack;
  }

}