@use "../abstracts/index" as *;

.hero {
  padding: toRem(70) 0;
  min-height: 100vh;
  margin-bottom: toRem(80);
  &__body {
    display: grid;
    grid-template-columns: minmax(toRem(330), toRem(530)) 1fr;
    column-gap: toRem(160);
  }
  &__title {
    font-size: toRem(60);
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: toRem(30);
  }
  &__info {
    line-height: 1.2;
    margin-bottom: toRem(30);
  }
  &__button {
    display: inline-block;
    background-color: $colorDark;
    color: $colorWhite;
    padding: toRem(20) toRem(30);
    border-radius: toRem(14);
  }
}