@use "../abstracts/index" as *;

.process-item {
  padding: toRem(40);
  background-color: $colorGrey;
  border-radius: toRem(45);
  box-shadow: 0 toRem(4) toRem(10) 0 rgba(0,0,0,0.3);
  transition: all 0.3s ease-in-out;
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding-bottom: toRem(30);
  }
  &__desc {
    display: none;
    border-top: 1px solid $colorDark;
    padding-top: toRem(20);
  }
  &__title-text {
    font-size: toRem(30);
    font-weight: 500;
    span {
      font-size: toRem(40);
      margin-right: toRem(10);
    }
  }
}

.process-item:not(:last-child) {
  margin-bottom: toRem(20);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: toRem(58);
  height: toRem(58);
  border: 1px solid $colorDark;
  border-radius: 50%;
  background-color: $colorGrey;
}

.question-text {
  display: none;
}
.show-text .question-text {
  display: block;
}

.minus-icon {
  display: none;
}

.show-text .minus-icon {
  display: flex;
}
.show-text .plus-icon {
  display: none;
}

.show-text.process-item {
  background-color: $colorGreen;
}

.show-text .process-item__desc {
  display: block;
}

.show-text .process-item__title {
  padding-bottom: toRem(30);
}