@use "../abstracts/index" as *;

.services {
  &__items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-gap: toRem(40);
  }
  &__item {
    padding: toRem(40);
    min-width: toRem(530);
    max-width: toRem(630);
    height: toRem(310);
    background-color: $colorGrey;
    border-radius: toRem(45);
    box-shadow: 0 toRem(4) toRem(10) 0 rgba(0,0,0,0.3);
  }
}

.services-item {
  display: flex;
  
  justify-content: space-between;
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__title {
    display: inline;
    max-width: toRem(180);
    font-size: toRem(25);
    font-weight: 500;
    line-height: 1.2;
  }
}

.title-inner {
  background-color: $colorGreen;
}

.services-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: toRem(10);
    width: toRem(41);
    height: toRem(41);
    border-radius: 50%;
    background-color: $colorDark;
    
  }
  &__text {

  }
}


@media (max-width: 620px) {
    .services-item {
      padding: toRem(30);
      height: toRem(250);
      min-width: toRem(230);
    } 
    .services-item svg {
      max-width: toRem(120);
    }
  }