@use "../abstracts/index" as *;

.testimonials {
  &__content {
    background-color: $colorDark;
    padding-top: toRem(20);
    padding-bottom: toRem(80);
    border-radius: toRem(45);
  }
  &__items {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: toRem(40);
    scrollbar-width: none;
  }
  &__items::-webkit-scrollbar {
    display: none;
  }
  &__arrows {

  }
}

.testimonials-item.slide-active {
  opacity: 1;
  transform: translateX(0);
}

.slide.next {
  transform: translateX(100%);
}
.slide.last {
  transform: translateX(-100%);
}

.arrow-right {
  
}

.slides-container {
  display: flex;
  position: relative;
  width: 600px;
  height: 350px;
  // overflow: hidden;
}

.testimonials-item {
  position: absolute;
  top: 20%;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  min-width: toRem(500);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__text {
    padding: toRem(40);
    border: 1px solid $colorGreen;
    color: $colorWhite;
    border-radius: toRem(45);
    line-height: 1.2;
    margin-bottom: toRem(30);
  }
}

.person {
  &__name {
    font-weight: 500;
    color: $colorGreen;
    margin-bottom: toRem(5);
  }
  &__position {
    color:  $colorWhite;
  }
}

.conrols {
  display: flex;
  justify-content: center;
  column-gap: toRem(189);
  margin-top: toRem(70);
}

.controls-dots {
  display: flex;
  column-gap: toRem(19);
}

.controls-dots__item--active svg path{
  fill: $colorGreen;
}

.slider {
 overflow: hidden;
}

// .slide {
//   min-width: toRem(606);
// }