@use "sass:math";

@use "./layouts/index" as *;
@use "./abstracts/index" as *;

// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


// Styles
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.page {
  flex: 1 1 auto;
}

section:not(:last-child) {
  margin-bottom: toRem(150);
}

.container {
  max-width: toRem($containerWidth);
  padding-inline: toRem(math.div($containerPadding, 2));
  margin-inline: auto;
}

.section-header {
  margin-bottom: toRem(50);
}

.section-title {
  font-size: toRem(40);
  font-weight: 500;
  background-color: $colorGreen;
  padding: toRem(2);
  display: inline-block;
  margin-right: toRem(20);
}

.section-desc {
  display: inline-block;
  max-width: toRem(580);
  line-height: 1.2;
}