@use "sass:math";

@use "./layouts/index" as *;
@use "./abstracts/index" as *;

// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


html {
  scroll-behavior: smooth;
}

// Styles
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.page {
  flex: 1 1 auto;
}


.container {
  max-width: toRem($containerWidth);
  padding-inline: toRem(math.div($containerPadding, 2));
  margin-inline: auto;
}

.logo {
  display: flex;
  column-gap: toRem(10);
  &__text {
    font-size: toRem(36);
    font-weight: 500;
  }
}

.menu {
  &__icon {
    display: none;
  }
  &__link {
    padding-top: toRem(5);
    padding-bottom: toRem(5);
    transition: all 0.3s ease-in-out;
  }
  &__link:hover {
    border-radius: toRem(5);
  }
}

.section-header {
  display: flex;
  margin-bottom: toRem(50);
  align-items: center;
}

@media (max-width: 1038px) {
  .section-header {
    display: flex;
    margin-bottom: toRem(35);
    align-items: center;
  }
}


.section-title {
  font-size: clamp(toRem(20), 2vw, toRem(40));
  font-weight: 500;
  background-color: $colorGreen;
  padding: toRem(2);
  display: inline-block;
  margin-right: toRem(20);
}

.section-desc {
  display: inline-block;
  max-width: toRem(580);
  line-height: 1.2;
}

// Utility classes
.section-mb {
  margin-bottom: toRem(150);
}

@media (max-width: 1154px) {
  .section-mb {
    margin-bottom: toRem(50);
  }
}

.bg-clr-green {
  background-color: $colorGreen;
}

.bg-clr-grey {
  background-color: $colorGrey;
}

.bg-clr-dark {
  background-color: $colorDark;
}

.bg-clr-white {
  background-color: $colorWhite;
}

.clr-white {
  color: $colorWhite;
}
