@use "sass:math";

@use "./layouts/index" as *;
@use "./abstracts/index" as *;

// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


html {
  scroll-behavior: smooth;
}

// Styles
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.page {
  flex: 1 1 auto;
}

.section-mb {
  margin-bottom: toRem(150);
}

.container {
  max-width: toRem($containerWidth);
  padding-inline: toRem(math.div($containerPadding, 2));
  margin-inline: auto;
}

.logo {
  display: flex;
  column-gap: toRem(10);
  &__text {
    font-size: toRem(36);
    font-weight: 500;
  }
}

.menu {
  &__icon {
    display: none;
  }
  &__list {
    display: flex;
    column-gap: toRem(40);
    justify-content: space-between;
    align-items: center;
  }
  &__link {
    padding-top: toRem(5);
    padding-bottom: toRem(5);
    transition: all 0.3s ease-in-out;
  }
  &__link:hover {
    border-radius: toRem(5);
  }
}

.section-header {
  margin-bottom: toRem(50);
}

.section-title {
  font-size: toRem(40);
  font-weight: 500;
  background-color: $colorGreen;
  padding: toRem(2);
  display: inline-block;
  margin-right: toRem(20);
}

.section-desc {
  display: inline-block;
  max-width: toRem(580);
  line-height: 1.2;
}